.wrapper > .inner {
    padding:1em 2em 0em 2em !important;
}
.box.t_contract{
    border: 0px !important;
}
.card{
    position: relative;
    display: flex;
    padding: 1em;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    border-width: 0;
    transition: all .2s;
    border-radius: 5px;
    margin-bottom: 30px;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%) !important;
    .card-content{
        display: flex;
        flex: 1;
        position: relative;
        align-items: center;
        .card-title{
            color:#fff;
            opacity: .8;
            font-weight: bold;
            font-size: 1.05em;
        }
        .card-subtitle{
            color:#fff;
            opacity: .8;
            font-weight: bold;
            font-size: 1.05em;
        }
        .card-number {
            font-weight: bold;
            font-size: 1.2em;
            display: block;
            color: #fff;
        }
        .card-content-right{
            margin-left: auto;
        }
    }
}